body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
}

/* HEADER */
header {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-family: 'Merriweather', serif;
}

/* CONTEÚDO */
main {
    max-width: 900px;
    margin: auto;
}

/* BLOCOS */
.bloco {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background: #1976d2;
    color: white;
}

/* IMAGEM */
img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    background: #0d47a1;
    color: white;
    padding: 10px;
}