body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}

header {
    background-color: #002244;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
}

section {
    padding: 20px;
}

h2 {
    color: #002244;
    font-family: 'Playfair Display', serif;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela th, .tabela td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.diario {
    background-color: #e6ffe6;
}

img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}